/*
 dark blue: rgb(5, 59, 80)
 blue: rgb(23, 107, 135)
 light blue: rgb(100, 204, 197)
 light grey: rgb(238, 238, 238)
*/

body {
  margin: 0;
  font-family: Arial;
  background-color: rgb(238, 238, 238);
}

.main-space {
  margin-left: 300px;
  margin-top: 10px;
  border: none;
  padding: 60px;
  padding-left: 40px;
  position: relative;
}

.edit-list-panel div {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.list-name {
  color: rgb(23, 107, 135);
  margin: 0;
}

.name-input {
  height: 34px;
  min-width: 150px;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 6px;
  border: 1px solid lightgrey;
  box-shadow: 1px 2px 5px rgb(92, 92, 92);
}

.save-new-name,
.delete-this-list,
.edit-list-button,
.new-list-button {
  padding: 5px 10px;
  margin-right: 5px;  
  background-color: rgb(11, 145, 190);
  color: rgb(244, 244, 244);
  border: none;
  box-shadow: 1px 2px 6px rgb(92, 92, 92);
}

.save-new-name:hover,
.edit-list-button:hover,
.new-list-button:hover {
  background-color: rgb(5, 168, 223);
  box-shadow: 0.5px 1px 6px rgb(92, 92, 92);
}

.delete-this-list {
  background-color: rgb(180, 34, 34);
  color: rgb(238, 238, 238);
}

.delete-this-list:hover {
  background-color: rgb(222, 0, 0);
}


.instruction-para {
  color: rgb(21, 79, 105);
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
}

.item-input-buttons-div {
  display: flex; 
  column-gap: 7px;
}

.item-name-input {
  flex: 1;
  height: 38px;
  min-width: 250px;
  padding-left: 15px;
  border-radius: 6px;
  border: 1px solid lightgrey;
  box-shadow: 1px 2px 5px rgb(92, 92, 92);
}

.save-item-button,
.clear-all-items-button {
  background-color: rgb(100, 204, 197);
  color: rgb(244, 244, 244);
  font-weight: bold;
  height: 41px;
  border: none;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 1px 2px 5px rgb(92, 92, 92);
}


.save-item-button:active,
.clear-all-items-button:active {
  background-color: rgb(23, 107, 135);
  box-shadow: 1px 2px 5px rgb(45, 45, 45);
}

li {
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(23, 107, 135);
  color: rgb(23, 107, 135);
}

.bottom-right-image {
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 50%;
  opacity: 0.8;
}

.bottom-right-image-div {
  min-height: 240px;
}